<div fxLayout="row wrap">
  <img class="productImg" [src]="product.Picture1" [alt]="product.Title" fxFlex="50%">
  <img class="productImg" [src]="product.Picture2" [alt]="product.Title" fxFlex="50%">
  <img class="productImg" [src]="product.Picture3" [alt]="product.Title" fxFlex="50%">
  <img class="productImg" [src]="product.Picture4" [alt]="product.Title" fxFlex="50%">
</div>
<div fxLayout="column">
  <p fxFlex fxFlexFill>{{product.Title}}
    <br> {{product.Description}}
  </p>
  <h4 fxFlex fxFlexFill>{{product.Price | currency:'CNY':'symbol-narrow'}}</h4>
</div>