<div fxFlex fxLayout="column">
  <div fxFlex fxFlexFill fxFlexAlign="center" *ngFor="let product of products" [routerLink]="['../detail', product.ID]">
    <mat-card class="productContainer" fxLayout="row">
      <img class="productImg" [src]="product.Picture1" [alt]="product.Title" fxFlex="50%">
      <div fxFlex="1 1 auto" fxLayout="column">
        <p fxFlex>{{product.Title}}
          <br> {{product.Description}}
        </p>
        <h4 fxFlex>{{product.Price | currency:'CNY':'symbol-narrow'}}</h4>
      </div>
    </mat-card>
  </div>
</div>